/* >= 1920px */
.content {
    width: calc(100% - var(--nav-wide-width));
    margin-left: auto;
  }
  
  @media (min-width: 1264px) and (max-width: 1919px) {
    .content {
      width: calc(100% - var(--nav-medium-width));
    }
  }
  
  @media (min-width: 768px) and (max-width: 1263px) {
    .content {
      width: calc(100% - var(--nav-narrow-width));
    }
  }
  
  @media screen and (max-width: 767px) {
    .content {
      width: 470px;
      margin-right: auto;
    }
  }
  
  @media screen and (max-width: 470px) {
    .content {
      width: 100%;
      max-width: 100%;
      
    }
  }